h1 {
    text-align: center;
    color: brown;
}

body {
    background-color: #b3bc9b
}

.header {
    display: flex;
    justify-content: center;
}

table th,
td {
    border: 1px solid black;
}



#navbar {
    overflow: hidden;
    z-index: 5;
    background-color: brown;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

#navbar a {
   
    color:#b3bc9b;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.carousel{
    width: 900px;

}
 .d-block{
    height: 400px;
 }

 .carousel-container{
    width: 100%;
    z-index: -2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

 .artist-box{
    background-color: rgb(65, 64, 64);
    width: 600px;
   
    border: solid 5px black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
 }

 .artist-box:hover{
    background-color: rgb(129, 127, 127);
 }

 .artist-selfie{
    height: 240px;
    width: 240px;
     border: solid 3px rgb(219, 22, 22); 
 }

 .img-box{
    /* border: solid 1px blue; */
    display: flex;
    justify-content: space-around;
    margin: 10px;
 }

 .artist-row{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
 }

 .art-info{
    padding: 10px;
    border-top: solid 5px black;
    color: whitesmoke;
    text-align: center;
 }

 .title{
    text-align: center;
    color: beige;
    margin-top: 30px;
 }

 .contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
    margin: auto;
  }
 
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .about-page{
   background-color: rgb(169, 89, 89);
   width: 500px;
   border: solid 2px ;
   display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 60px;
    padding: 10px;
  }

  .about-box-info{
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    border: solid 2px;
    border-radius: 70px;
    padding: 15px;
  }
   .about-title{
    text-align: center;
   }

   .personal-info-page{
    background-color: rgb(169, 89, 89);
   width: 600px;
   margin-bottom: 150px;
   border: solid 2px ;
   display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 60px;
    padding: 10px;
   }

   .personal-info-box{
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    border: solid 2px;
    border-radius: 70px;
    padding: 20px;
   }

   .info-title{
    text-align: center;
   }
   